@CHARSET "UTF-8";
body{
width:100%;
height:100%;
background-image:url(../img/0.jpg);
background-repeat:repeat;
}
thtd{
        color:coral;
        font-family:华文细黑;
        font-size: 16px;
        padding: 5px 15px;
        }
        table {
	border-collapse: collapse;
	border-spacing: 0;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	background: #ffecf5;
}

th, td {
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	padding: 5px 15px;
}

th {
	font-weight: bold;
	background: #ffa6ff;
}
span{
	color:#FF79BC;
	font-weight:bold;
	font-size:28px;
}
.hfont{
	font-weight:bold;
	font-size:38px;
}
#star{overflow:hidden;}
#star li{float:left; width:20px; height:20px; margin:2px; display:inline; color:#999; font:bold 18px arial; cursor:pointer}
#star .act{color:#c00}
#star_word{width:80px; height:30px; line-height:30px; border:1px solid #ccc; margin:10px; text-align:center; display:none}